{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@queries": "./queries",
          "@hooks": "./hooks",
          "@services": "./services",
          "@constants": "./constants",
          "@context": "./context",
          "@typeDefs": "./types",
          "@utils": "./utils",
          "@public": "./public",
          "@styles": "./styles"
        }
      }
    ]
  ]
}
